
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="row">

        <div class="col-md-12">
            <div class="card m-t-15">
                <div class="card-body">
                    <div class="row">
                        <br /><br /><br /><br /><br /><br /><br />
                        <br /><br /><br /><br /><br /><br /><br />
                        <br /><br /><br /><br /><br /><br /><br />
                    </div>
                </div>
            </div>
        </div>
    </div>

        @*<div class="col-md-4">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">date_range</i>
                    </div>
                    <p class="card-category">Work On Time</p>
                    <h3 class="card-title">75%</h3>
                </div>
                <div class="card-footer" style="height: 60px;">
                    <div class="stats">
                        <i class="material-icons">date_range</i> October
                    </div>
                    <div class="stats">
                        <p class="card-category"><i class="material-icons">update</i> 15/20 Days </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card card-stats">
                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">equalizer</i>
                    </div>
                    <p class="card-category">Leave Quota</p>
                    <h3 class="card-title">Today</h3>
                </div>
                <div class="card-footer" style="height: 60px;">

                </div>
            </div>
        </div>*@

        @*<div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">store</i>
                    </div>
                    <p class="card-category">xxxxxxx</p>
                    <h3 class="card-title">xxx</h3>
                </div>
                <div class="card-footer" style="height: 60px;">
                    <div class="stats">
                        <i class="material-icons">date_range</i> xxxxxx
                    </div>
                </div>
            </div>
        </div>*@
        
    @*<div class="row">
            <div class="col-md-4">
                <div class="card ">
                    <div class="card-header card-header-rose card-header-text">
                        <div class="card-icon">
                            <i class="material-icons">today</i>
                        </div>
                        <h4 class="card-title">Datetimepicker</h4>
                    </div>
                    <div class="card-body ">
                        <div class="form-group">
                            <input type="text" class="form-control datetimepicker" value="11/06/2018">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card ">
                    <div class="card-header card-header-rose card-header-text">
                        <div class="card-icon">
                            <i class="material-icons">library_books</i>
                        </div>
                        <h4 class="card-title">Date Picker</h4>
                    </div>
                    <div class="card-body ">
                        <div class="form-group">
                            <input type="text" class="form-control datepicker" value="10/06/2018">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card ">
                    <div class="card-header card-header-rose card-header-text">
                        <div class="card-icon">
                            <i class="material-icons">av_timer</i>
                        </div>
                        <h4 class="card-title">Time Picker</h4>
                    </div>
                    <div class="card-body ">
                        <div class="form-group">
                            <input type="text" class="form-control timepicker" value="10/05/2016">
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
</div>
