
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPartial.cshtml";
}

<style type="text/css">
    .text-center {
        color: #ff0500;
    }
</style>

<div class="col-md-12">
    <div class="col-middle">
        <div class="text-center">
            <h1 class="error-number">Internal Server Error</h1>
            <h2>@ViewBag.Message</h2>
            <div>
                @Html.Raw(ViewBag.StackTrace)
            </div>
        </div>
    </div>
</div>
