@model SAT.HR.Models.UserExcellentViewModel


<button class="btn btn-primary btn-sm pull-right" data-toggle="modal" id="btnAdd"> เพิ่มรายการ </button>
<div class="table-responsive">
    <table class="table">
        <thead class=" text-primary">
            <tr>
                <th>#</th>
                <th>ปีที่รับ</th>
                <th>ประเภท</th>
                <th>ชื่อโครงการ</th>
                <th>วันที่ได้รับ</th>
                <th>ปฏิบัติการ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>



