
<style>
    .table thead tr th {
        font-size: 15px;
    }

    .card [class*=card-header-] .card-text {
        border-radius: 3px;
        background-color: #999;
        padding: 5px;
        margin-top: -20px;
        margin-right: 8px;
        float: left;
        font-size: 5px;
    }

    .w-title {
        width: 60px;
        margin-left:10px;
    }
</style>

<div class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-info card-header-text">
                    <div class="card-text">
                        <h5 class="card-title w-title">บิดา</h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th>ชื่อ-สกุล</th>
                                    <th>เลขประจำตัวประชาชน</th>
                                    <th>วันเกิด</th>
                                    <th>อายุ</th>
                                    <th>สถานะการมีชีวิต</th>
                                    <th>สิทธิลดหย่อน</th>
                                    <th>เคยเป็นพนักงาน กกท.</th>
                                    <th>ปฏิบัติการ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-info card-header-text">
                    <div class="card-text">
                        <h5 class="card-title w-title">มารดา</h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th>ชื่อ-สกุล</th>
                                    <th>เลขประจำตัวประชาชน</th>
                                    <th>วันเกิด</th>
                                    <th>อายุ</th>
                                    <th>สถานะการมีชีวิต</th>
                                    <th>สิทธิลดหย่อน</th>
                                    <th>เคยเป็นพนักงาน กกท.</th>
                                    <th>ปฏิบัติการ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-info card-header-text">
                    <div class="card-text">
                        <h5 class="card-title w-title">คู่สมรส</h5>
                    </div>
                    <button class="btn btn-primary btn-sm pull-right" data-toggle="modal" id="btnAdd" style="width:100px;"> เพิ่มคู่สมรส </button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th>#</th>
                                    <th>ชื่อ-สกุล</th>
                                    <th>เลขประจำตัวประชาชน</th>
                                    <th>วันเกิด</th>
                                    <th>วันที่สมรส</th>
                                    <th>สถานะการมีชีวิต</th>
                                    <th>อาชีพ</th>
                                    <th>สถานะสมรส</th>
                                    <th>วันที่หย่าร้าง</th>
                                    <th>ปฏิบัติการ</th>
                                </tr>
                            </thead>
                            <tbody>
                               <tr>
                                   <td></td>
                               </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-info card-header-text">
                    <div class="card-text">
                        <h5 class="card-title w-title">บุตร</h5>
                    </div>
                    <button class="btn btn-primary btn-sm pull-right" data-toggle="modal" id="btnAdd" style="width:100px;"> เพิ่มบุตร </button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th>#</th>
                                    <th>ชื่อ-สกุล</th>
                                    <th>เลขประจำตัวประชาชน</th>
                                    <th>วันเกิด</th>
                                    <th>อายุ</th>
                                    <th>สถานะการมีชีวิต</th>
                                    <th>สถานะการศึกษา</th>
                                    <th>ปฏิบัติการ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>