

<button class="btn btn-primary btn-sm pull-right" data-toggle="modal" id="btnAdd"> เพิ่มรายการ </button>
<div class="table-responsive">
    <table class="table">
        <thead class=" text-primary">
            <tr>
                <th>#</th>
                <th>หลักสูตร</th>
                <th>วันที่เริ่ม</th>
                <th>วันที่สิ้นสุด</th>
                <th>ประเทศ</th>
                <th>ประเภท</th>
                <th>ปฏิบัติการ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>


