
@{
    ViewBag.Title = "EmployeeTransfer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">group</i>
                    </div>
                    <h4 class="card-title"><span> โยกย้ายระดับ > </span><small>พนักงาน</small></h4>
                </div>
                <div class="card-body">
                    <div class="toolbar pull-right">
                        <button class="btn btn-primary btn-sm add-employee-Transfer" data-toggle="modal" id="btnAdd"><i class="material-icons">add</i> เพิ่มรายการ </button>
                    </div>
                    <div class="material-datatables">
                        <table id="datatables" data-url="@Url.Content("~/Employee/EmployeeTransfer")" class="table table-striped table-no-bordered table-hover" cellspacing="0" style="width:100%">
                            <thead>
                                <tr>
                                    <th style="width:5%" class="disabled-sorting">ลำดับ</th>
                                    <th style="width:10%">ปีบัญชี</th>
                                    <th style="width:30%">เลขที่หนังสือคำสั่ง</th>
                                    <th style="width:15%">จำนวน(คน)</th>
                                    <th style="width:15%">วันที่ทำรายการ</th>
                                    <th style="width:15%">สถานะ</th>
                                    <th style="width:10%" class="disabled-sorting text-right">ปฏิบัติการ</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            var dataTable = {
                table: null,
                initializeDataTable: function () {

                    $table = $('#datatables');

                    dataTable.table = $table.DataTable({
                        "proccessing": true,
                        "serverSide": true,
                        responsive: true,
                        language: {
                            search: "_INPUT_",
                            searchPlaceholder: "ค้นหา",
                            zeroRecords: "ไม่พบข้อมูล",
                        },
                        ajax: {
                            url: $table.data("url"),
                            type: "POST",
                        },
                        "columns": [
                            { "data": "RowNumber", "orderable": false, "searchable": false },
                            { "data": "MlYear", "orderable": true },
                            { "data": "MlBookCmd", "orderable": true },
                            { "data": "MlTotal", "orderable": true },
                            { "data": "CreateDateText", "orderable": true },
                            { "data": "MlStatusName", "orderable": true }
                        ],
                        "columnDefs": [
                            {
                                "render": function (data, type, row) {
                                    return '<div class="td-actions text-right">' + data + '</div>';
                                }, "targets": [3]
                            },
                            {
                                "render": function (data, type, row) {
                                    var inner = '<div class="td-actions text-right">' +
                                                    '<button title="แสดงข้อมูล" type="button" class="btn btn-round btn-warning btn-just-icon edit-position-Transfer" data-id="' + row.MlID+'"><i class="material-icons">search</i></button>' +
                                                '</div>';
                                    return inner;
                                }, "targets": 6
                            },
                        ],
                        "order": [[2, "asc"]],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                        "pagingType": "full_numbers",
                    });

                    dataTable.table.on('click', '.edit-employee-Transfer', function () {
                        var id = $(this).data("id");
                        var url = '@Url.Action("EmployeeTransferDetail", "Employee")/' + id;
                        window.location.href = url;
                    });
                },
                getData: function () {
                    if (dataTable.table == null)
                        dataTable.initializeDataTable();
                    else
                        dataTable.table.ajax.reload();
                }
            }

            dataTable.getData();

            $(".add-employee-Transfer").click(function () {
                var url = '@Url.Action("EmployeeTransferDetail", "Employee")';
                window.location.href = url;
            });

            @*$(".edit-employee-Transfer").click(function () {
                var id = 2;
                var url = '@Url.Action("EmployeeTransferDetail", "Employee")/' + id;
                window.location.href = url;
            });*@

        });
    </script>
}
