@model SAT.HR.Models.RoleMenuViewModel
@{
    ViewBag.Title = "Resource";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .m-l-30 {
        margin-left: 30px;
    }

    .m-b-15 {
        margin-bottom: 15px;
    }

    .m-b-20 {
        margin-bottom: 20px;
    }

    .p-l-10 {
        padding-left: 10px;
    }
    
</style>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">equalizer</i>
                    </div>
                    <h4 class="card-title"><span>รายงานส่วนงานทรัพยากรบุคคล</span></h4>
                </div>
                <div class="card-body ">
                    <div class="m-b-20"></div>
                    <div class="row m-b-20">
                        @if (Model != null)
                        {
                            if (Model.ListRoleMenuReport != null)
                            {
                                foreach (var item in Model.ListRoleMenuReport)
                                {
                                    <div class="col-sm-6 p-l-10 m-b-15">
                                        <a class="m-l-30" href="@Url.Action(@item.ActionName, @item.ControllerName)">@item.MenuName</a>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
