
<style>
    .table thead tr th {
        font-size: 14px;
    }
</style>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">card_membership</i>
                        </div>
                        <h4 class="card-title">
                            <span>เงินช่วยเหลือการศึกษาบุตร</span>
                            <button class="btn btn-primary btn-sm pull-right" data-toggle="modal" id="btnAdd"><i class="material-icons">add</i> เพิ่มรายการ</button>
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="width:5%;" class="text-center">#</th>
                                        <th style="width:25%;" class="text-center">ชื่อบุตร</th>
                                        <th style="width:15%;" class="text-right">เลขบัตรประชาชน</th>
                                        <th style="width:15%;" class="text-right">วันเกิด</th>
                                        <th style="width:15%;" class="text-center">วันที่หมดสิทธิ</th>
                                        <th style="width:15%;" class="text-right">เงินทุนการศึกษา</th>
                                        <th style="width:10%;" class="text-center">ปฏิบัติการ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="7" class="text-center">ไม่พบข้อมูล</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
