
@{
    ViewBag.Title = "Document";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">cloud_download</i>
                    </div>
                    <h4 class="card-title"><span>ดาวน์โหลด > </span><small>เอกสารสวัสดิการ</small></h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th colspan="2" style="width:78%">เอกสาร</th>
                                    <th style="width:12%">วันที่</th>
                                    <th style="width:10%">ดาวน์โหลด</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">&#9679;</td>
                                    <td>เงินช่วยเหลือพิเศษกรณีเสียชีวิต</td>
                                    <td>14/12/2561</td>
                                    <td class="td-actions">
                                        <i class="material-icons m-t7">get_app</i> ดาวน์โหลด
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">&#9679;</td>
                                    <td>เงินทดแทนกรณีเสียชีวิต</td>
                                    <td>14/12/2561</td>
                                    <td class="td-actions">
                                        <i class="material-icons m-t7">get_app</i> ดาวน์โหลด
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">&#9679;</td>
                                    <td>เงินช่วยเหลือการศึกษาบุตร</td>
                                    <td>14/12/2561</td>
                                    <td class="td-actions">
                                        <i class="material-icons m-t7">get_app</i> ดาวน์โหลด
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .m-t7 {
        margin-top:-7px;
    }
</style>