@model SAT.HR.Models.IndividualPlanViewModel

@{
    ViewBag.Title = "IndividualPlanDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">accessibility</i>
                    </div>
                    <h4 class="card-title">
                        <span> การวางแผนพัฒนารายบุคคล: </span>
                        @Html.HiddenFor(m => m.UserID)
                        <span class="text-primary">@Model.FullNameTh (@Model.IDCard)</span>
                        <button type="button" class="btn btn-round pull-right btn-back">ย้อนกลับ</button>
                    </h4>
                </div>
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {


            $(".btn-back").click(function () {
                var url = '@Url.Action("IndividualPlan", "HumanResource")';
                window.location.href = url;
            });

        });
    </script>
}