
@{
    ViewBag.Title = "TrainningDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">accessibility</i>
                    </div>
                    <h4 class="card-title">
                        <span> การฝึกอบรม: </span>
                        <button type="button" class="btn btn-round pull-right btn-back">ย้อนกลับ</button>
                    </h4>
                </div>
                <div class="card-body">
                    <div class="toolbar pull-right">
                        <button class="btn btn-primary btn-sm add-training" data-toggle="modal"><i class="material-icons">add</i> เพิ่มหลักสูตร</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {


            $(".btn-back").click(function () {
                var url = '@Url.Action("Trainning", "HumanResource")';
                window.location.href = url;
            });

        });
    </script>
}