
<div class="col-md-12">
    <div class="row">
        <label class="col-sm-2 col-form-label">วันที่</label>
        <div class="col-sm-10">
            <div class="form-group bmd-form-group has-danger">
                <input class="form-control" type="text" name="required" required="true" aria-required="true" aria-invalid="true">
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="row">
        <label class="col-sm-3 col-form-label">วันหยุด</label>
        <div class="col-sm-9">
            <div class="form-group bmd-form-group has-danger">
                <input class="form-control" type="text" name="required" required="true" aria-required="true" aria-invalid="true">
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="row">
        <label class="col-sm-3 col-form-label label-checkbox">สถานะ</label>
        <div class="col-sm-9">
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" checked="">
                    <span class="form-check-sign">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
        </div>
    </div>
</div>