
<div class="col-md-12">
    <div class="row">
        <label class="col-sm-3 col-form-label">ปี</label>
        <div class="col-sm-9">
            <div class="form-group bmd-form-group has-danger">
                <input class="form-control" type="text" name="required" required="true" aria-required="true" aria-invalid="true">
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="row">
        <label class="col-sm-3 col-form-label">ประเภทการลา</label>
        <div class="col-sm-9">
            <div class="form-group bmd-form-group has-danger">
                <input class="form-control" type="text" name="required" required="true" aria-required="true" aria-invalid="true">
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="row">
        <label class="col-sm-3 col-form-label">วันที่เริ่ม</label>
        <div class="col-sm-9">
            <div class="form-group bmd-form-group has-danger">
                <input class="form-control" type="text" name="required" required="true" aria-required="true" aria-invalid="true">
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="row">
        <label class="col-sm-3 col-form-label">วันที่สิ้นสุด</label>
        <div class="col-sm-9">
            <div class="form-group bmd-form-group has-danger">
                <input class="form-control" type="text" name="required" required="true" aria-required="true" aria-invalid="true">
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="row">
        <label class="col-sm-3 col-form-label">สิทธิลาสูงสุด</label>
        <div class="col-sm-9">
            <div class="form-group bmd-form-group has-danger">
                <input class="form-control" type="text" name="required" required="true" aria-required="true" aria-invalid="true">
            </div>
        </div>
    </div>
</div>