@*@model SAT.HR.Models.RoleViewModel*@

<table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" style="width:100%">
    <thead>
        <tr>
            <th style="width:5%">ลำดับ</th>
            <th style="width:5%">เลือก</th>
            <th style="width:10%">รหัส</th>
            <th style="width:15%">ชื่อ</th>
            <th style="width:20%">นามสกุล</th>
            <th style="width:15%">ฝ่าย</th>
            <th style="width:15%">ฝ่าย</th>
            <th style="width:15%">หน่วยงาน</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

