@*@model SAT.HR.Models.RoleViewModel*@

<style>
    .table thead tr th {
        font-size: 15px;
    }
</style>

<table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" style="width:100%">
    <thead>
        <tr>
            <th style="width:5%" class="disabled-sorting">ลำดับ</th>
            <th style="width:10%" class="disabled-sorting">เลือก</th>
            <th style="width:20%">ชื่อ-นามสกุล</th>
            <th style="width:15%">ตำแหน่ง</th>
            <th style="width:15%">ฝ่าย</th>
            <th style="width:15%">กอง</th>
            <th style="width:20%">หน่วยงาน</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

