
@{
    ViewBag.Title = "ActionType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">ActionType</h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar">
                            <!-- Here you can write extra buttons/actions for the toolbar -->
                        </div>
                        <div class="material-datatables">
                            <table id="datatables" data-url="@Url.Content("~/Master/ActionType")" class="table table-striped table-no-bordered table-hover" cellspacing="0" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th class="disabled-sorting text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end content -->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            $('#datatables').DataTable({
                responsive: true,
                language: {
                    search: "_INPUT_",
                    searchPlaceholder: "Search records",
                },
                ajax: {
                    url: "/Master/ActionType",
                    dataType: "json",
                    type: "POST",
                },
                "columns": [
                    { "data": "RowNumber", "orderable": true },
                    { "data": "ActName", "orderable": true },
                    { "data": "ActType", "orderable": true }
                ],
                "columnDefs": [
                    {
                        "render": function (data, type, row) {
                            return '<div style="text-align:left">' + data + '</div>';
                        }, "targets": 0
                    },
                    {
                        "render": function (data, type, row) {
                            return '<div style="text-align:left">' + data + '</div>';
                        }, "targets": 1
                    },
                    {
                        "render": function (data, type, row) {
                            return '<div style="text-align:left">' + data + '</div>';
                        }, "targets": 2
                    },
                    {
                        "render": function (data, type, row) {
                            return "<div style='text-align:right;'><a href='#' class='btn btn-link btn-warning btn-just-icon edit'><i class='material-icons'>dvr</i></a><a href='#' class='btn btn-link btn-danger btn-just-icon remove'><i class='material-icons'>close</i></a></div>";
                        }, "targets": 3
                    },
                ],
                "order": [[1, "asc"]],
                "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                "pagingType": "full_numbers",
            });


            var table = $('#datatables').DataTable();

            // Edit record
            table.on('click', '.edit', function () {
                $tr = $(this).closest('tr');
                var data = table.row($tr).data();
                alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
            });

            // Delete a record
            table.on('click', '.remove', function (e) {
                $tr = $(this).closest('tr');
                table.row($tr).remove().draw();
                e.preventDefault();
            });

        });
    </script>
}