
@{
    ViewBag.Title = "Benefit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">cloud_upload</i>
                        </div>
                        <h4 class="card-title"><span>อัพโหลด > </span><small>เอกสารสวัสดิการ</small></h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="2" style="width:68%">ชื่อเอกสาร</th>
                                        <th style="width:12%">วันที่อัพโหลด</th>
                                        <th style="width:10%">ไฟล์แนบ</th>
                                        <th style="width:10%" class="disabled-sorting text-right">ปฏิบัติการ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">&#9679;</td>
                                        <td>เงินช่วยเหลือพิเศษกรณีเสียชีวิต</td>
                                        <td>14/12/2561</td>
                                        <td>ไฟล์แนบ</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">&#9679;</td>
                                        <td>เงินทดแทนกรณีเสียชีวิต</td>
                                        <td>14/12/2561</td>
                                        <td>ไฟล์แนบ</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">&#9679;</td>
                                        <td>เงินช่วยเหลือการศึกษาบุตร</td>
                                        <td>14/12/2561</td>
                                        <td>ไฟล์แนบ</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
