
@{
    ViewBag.Title = "SalaryIncrease";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <style>
        .card .card-body .col-form-label, .card .card-body {
            padding-top: 0px;
        }
            .card .card-body .col-form-label.label-checkbox, .card .card-body .label-on-right.label-checkbox {
                padding-top: 5px;
            }
    </style>
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">group</i>
                    </div>
                    <h4 class="card-title"><span> การเลื่อนขั้นเงินเดือน > </span><small>พนักงาน</small></h4>
                </div>
                <div class="card-body">

                    <!-- Wizard container -->
                    <div class="card-header text-center">
                        <h3 class="card-title">
                            <span>ประมวลผลปรับขั้นเงินเดือน</span>
                        </h3>
                    </div>
                    <div class="wizard-navigation" id="tabs">
                        <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
                            <li class="nav-item li-step1" id="li-step1">
                                <a class="nav-link active show" role="tablist" href="#step1" data-toggle="tab" data-id="tab-step1">
                                    <i class="material-icons">filter_1</i> ประมวลผล
                                </a>
                            </li>
                            <li class="nav-item li-step2" id="li-step2">
                                <a class="nav-link disabled" role="tablist" href="#step2" data-toggle="tab" data-id="tab-step2">
                                    <i class="material-icons">filter_2</i> ตรวจสอบและแก้ไข
                                </a>
                            </li>
                            <li class="nav-item li-step3" id="li-step3">
                                <a class="nav-link disabled" role="tablist" href="#step3" data-toggle="tab" data-id="tab-step3">
                                    <i class="material-icons">filter_3</i> ยืนยันการปรับขั้นเงินเดือน
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content tab-subcategories">
                            <div class="tab-pane active div-step1" id="step1">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title"><span> ประมวลผล</span></h4>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-sm-6" style="margin-top:-30px">
                                            <div class="row">
                                                <label class="col-sm-2 col-form-label m-t-20">ปีบัญชี</label>
                                                <div class="col-sm-2">
                                                    <div class="form-group bmd-form-group">
                                                        <input class="form-control" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-sm-2 col-form-label label-checkbox m-t-5">ระดับ</label>
                                                <div class="col-sm-10 checkbox-radios">
                                                    <div class="form-check form-check-inline">
                                                        <label class="form-check-label">
                                                            <input name="salarylevel" class="form-check-input" type="radio" value="1"> 1 ถึง 8
                                                            <span class="circle">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <label class="form-check-label">
                                                            <input name="salarylevel" class="form-check-input" type="radio" value="2"> 9 ถึง 10
                                                            <span class="circle">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row m-b-20">
                                                <label class="col-sm-2 col-form-label label-checkbox m-t-5">ขั้นที่ปรับขึ้น</label>
                                                <div class="col-sm-10 checkbox-radios">
                                                    <div class="form-check form-check-inline">
                                                        <label class="form-check-label">
                                                            <input name="salarystep" class="form-check-input" type="radio" value="0.5"> 0.5 ขั้น
                                                            <span class="circle">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <label class="form-check-label">
                                                            <input name="salarystep" class="form-check-input" type="radio" value="1.0"> 1 ขั้น
                                                            <span class="circle">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane div-step2" id="step2">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title"><span>ตรวจสอบและแก้ไข</span></h4>
                                        <p class="card-category"> รายงานการปรับเงินเดือน </p>
                                    </div>
                                    <div class="card-body">
                                        <div class="level-transfer">
                                            <table id="datatables" data-url="@Url.Content("~/payroll/BonusCalculator")" class="table table-striped table-no-bordered table-hover" cellspacing="0" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th style="width:5%" class="disabled-sorting">ลำดับ</th>
                                                        <th></th>
                                                        <th style="width:7%">ปีบัญชี</th>
                                                        <th style="width:8%">รอบที่</th>
                                                        <th style="width:10%">ชื่อ นามสกุล</th>
                                                        <th style="width:10%">อัตรา</th>
                                                        <th style="width:10%">ระดับ</th>
                                                        <th style="width:10%">ขั้นเก่า</th>
                                                        <th style="width:10%">ขั้นใหม่</th>
                                                        <th style="width:10%">เงินเดือนเก่า</th>
                                                        <th style="width:10%">เงินเดือนใหม่</th>
                                                        <th style="width:10%" class="disabled-sorting text-right">ปฏิบัติการ</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane div-step3" id="step3">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title"><span>ยืนยันการปรับขั้นเงินเดือน</span></h4>
                                        <p class="card-category text-danger">
                                            ระบบจะทำการนำข้อมูลเงินเดือนพนักงานจากขั้นตอนที่ 2 เข้าสู่ฐานข้อมูลพนักงานจริง <br />ก่อนนำข้อมูลเข้ากรุณาตรวจสอบข้อมูลในขั้นตอนที่ 2 (ตรวจสอบจาก Exel) ให้ถูกต้องก่อนทำรายการในขั้นตอนนี้
                                        </p>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-sm-7 m-b-30">
                                            <div class="row">
                                                <label class="col-sm-2 col-form-label m-t-15">คำสั่ง</label>
                                                <div class="col-sm-10">
                                                    <div class="form-group bmd-form-group">
                                                        <input class="form-control" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-sm-2 col-form-label m-t-15">วันที่ลงคำสั่ง</label>
                                                <div class="col-sm-4">
                                                    <div class="form-group bmd-form-group">
                                                        <input class="form-control datepicker" type="text">
                                                    </div>
                                                </div>
                                                <label class="col-sm-2 col-form-label m-t-15">วันที่มีผล</label>
                                                <div class="col-sm-4">
                                                    <div class="form-group bmd-form-group">
                                                        <input class="form-control datepicker" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-sm-2 col-form-label m-t-15">ไฟล์แนบ</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control file-upload" type="file">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="mr-auto">
                            <input name="previous" class="btn btn-previous btn-fill btn-default" style="display: none;" type="button" value="Previous">
                        </div>
                        <div class="ml-auto">
                            <input name="next" class="btn btn-next btn-fill btn-primary" type="button" value="Next">
                            <input name="finish" class="btn btn-finish btn-fill btn-primary" style="display: none;" type="button" value="Finish">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- wizard container -->

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        $(document).ready(function () {

            $('.datepicker').datetimepicker({
                format: 'DD/MM/YYYY',
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-chevron-up",
                    down: "fa fa-chevron-down",
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'fa fa-screenshot',
                    clear: 'fa fa-trash',
                    close: 'fa fa-remove'
                }
            });


            $("#tabs li").click(function () {
                if (this.id == "li-step1") {
                    $(".btn-previous").hide();
                    $(".btn-next").show();
                    $(".btn-finish").hide();
                }
                else if (this.id == "li-step2") {
                    if (!$('.li-step2').find('a').hasClass('disabled')) {
                        $(".btn-previous").show();
                        $(".btn-next").show();
                        $(".btn-finish").hide();

                        @*var url = '@Url.Action("GetEmpSalaryIncrease", "Payroll")';
                        $.post(url, function (data) {
                            $("#div-step2").html(data);
                        });*@
                    }
                }
                else if (this.id == "li-step3") {
                    if (!$('.li-step3').find('a').hasClass('disabled')) {
                        $(".btn-previous").show();
                        $(".btn-next").hide();
                        $(".btn-finish").show();
                    }
                }
            });


            $(".btn-previous").click(function () {
                var ref_this = $("#tabs li").find(".active");
                var id = ref_this.data("id");
                if (id == "tab-step2") {
                    $('.li-step2').find('a').removeClass('active');
                    $('.div-step2').removeClass('active');

                    $('.li-step1').find('a').removeClass('disabled').addClass('active');
                    $('.div-step1').addClass('active');

                    $(".btn-previous").hide();
                    $(".btn-next").show();
                }
                else if (id == "tab-step3") {
                    $('.li-step3').find('a').removeClass('active');
                    $('.div-step3').removeClass('active');

                    $('.li-step2').find('a').removeClass('disabled').addClass('active');
                    $('.div-step2').addClass('active');

                    $(".btn-next").show();
                    $(".btn-finish").hide();
                }
            });

            $(".btn-next").click(function () {
                var ref_this = $("#tabs li").find(".active");
                var id = ref_this.data("id");
                if (id == "tab-step1") {
                    $('.li-step1').find('a').removeClass('active');
                    $('.div-step1').removeClass('active');

                    $('.li-step2').find('a').removeClass('disabled').addClass('active');
                    $('.div-step2').addClass('active');

                    $(".btn-previous").show();
                }
                else if (id == "tab-step2") {
                    $('.li-step2').find('a').removeClass('active');
                    $('.div-step2').removeClass('active');

                    $('.li-step3').find('a').removeClass('disabled').addClass('active');
                    $('.div-step3').addClass('active');

                    $(".btn-next").hide();
                    $(".btn-finish").show();
                }
            });

            $(".btn-finish").click(function () {
                swal({
                    title: '',
                    text: "ยืนยันการปรับขั้นเงินเดือน",
                    type: 'question',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnYes)',
                    cancelButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnNo)',
                    buttonsStyling: false
                }).then(function () {

                }).catch(swal.noop)
            });


        });

    </script>
}